@model Unidad4SamaniegoActividad2.Models.Docente
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "_Layout"; }
<main>
    <section id="datos">
        <h1>Cambiar contraseña a @Model.Nombre</h1>
        <form method="post" action="~/Home/CambiarContrasena">
            <input type="hidden" asp-for="Id" />
            <br />
            <input type="password" asp-for="Contrasena" name="nuevaContra" placeholder="Nueva contraseña" required />
            <br />
            <input type="password" name="confirmarContra" placeholder="Confirmar contraseña" required />
            <br />
            @Html.ValidationSummary()
            <input type="submit" value="Aceptar" />
            <a href="~/Home/VerDocente">Regresar</a>
        </form>
    </section>
</main>

