@model Unidad4SamaniegoActividad2.Models.Director
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "_Layout"; }
<main>
    <section id="datos">
        <h1>Inicio de sesión</h1>
        
        <form method="post" action="~/Home/InicioDeSesionDeDirector">
            <label >Clave:</label><br/>
            <input type="number" asp-for="Clave" required /><br/>
            <label >Contraseña:</label><br />
            <input type="password" asp-for="Contrasena" required />
            <br/>
            <input type="submit" value="Aceptar" />
            <a href="~/Home/InicioDeSesionDocente">Iniciar como Docente </a>
            @Html.ValidationSummary()
        </form>
    </section>
</main>